#cat ./.gitignore 
# Xcode
./Documents/*.DS_Store
.DS_Store
/build/
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
/xcuserdata/
*.moved-aside
DerivedData
xcuserdata/*
*.xccheckout
*.ipa
*.dSYM.zip

iPhone/SBBO/CrashlyticsBetaBuilds/CHANGELOG.md
*/fastlane/*
IDEWorkspaceChecks.plist

BusinessOnline/Pods
Accounting/Playground/Pods
Sberthage/Build

#CI
CrashlyticsBetaBuilds
bvt_ok
ci_err
sast_err
sast_ok
smart_regress_ift_ok
smart_regress_st_ok
smoke_ift_ok
smoke_st_ok

#Unit testing
Mock.generated.swift
report.xml
